.About-row {
    height: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    margin: auto;
}

.About-row:last-child {
    margin-top: 36px;
}

.About-row img {
    height: 180px;
}

.About-me h3 {
    margin: 0;
}

.About-me {
    text-align: justify;
}