.Home {
    height: 80%;
    width: 100%;
}

.About-container {
    max-width: 900px;
    margin: auto;
    padding: 0 40px;
}

.About-me,
.About-skills-card {
    max-width: 600px;
    margin: auto;
}

.About-me h3,
.About-expertise h3 {
    margin: 0;
    line-height: 2.4;
}

.About-row {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin: 42px auto;
}

.About-header img {
    height: 180px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid #dedede;
}

.About-header hr {
    margin-top: 40px;
    height: 4px;
    background-color: #f1c40f;
    border: 0;
    opacity: 0;
    animation: hr-header 1s ease 500ms forwards;
}

.About-me {
    text-align: center;
    line-height: 1.4;
}

.About-expertise h3 {
    font-weight: unset;
    text-transform: uppercase;
    font-size: .8em;
}

.About-expertise hr {
    height: 3px;
    background-color: #f1c40f;
    margin-left: 0;
    border: 0;
    opacity: 0;
    animation: hr-h3 1s ease 1s forwards;
}

.About-skills {
    width: 100%;
}

.About-skills-intro {
    height: 180px;
    width: 100%;
    background-color: #161818;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.About-skills-intro h2 {
    max-width: 900px;
    margin: auto;
    font-style: italic;
    font-weight: unset;
}

.About-skills-card {
    margin-top: -40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    background-color: #161818;
    color: white;
    text-align: center;
    border: 20px solid white;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .26), 0 14px 28px 0 rgba(0, 0, 0, .25);
}

.About-resume {
    margin: 60px;
    text-align: center;
}

.About-resume span {
    display: inline-block;
    margin: 20px;
    padding: 20px 10px;
    border: 1px solid #dedede;
    box-shadow: unset;
    transition: all 600ms ease-in-out;
}

.About-resume span:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .26), 0 14px 28px 0 rgba(0, 0, 0, .25);
    transition: all 600ms ease-in-out;
}

@keyframes hr-header {
    from {
        width: 0;
    }

    to {
        width: 60px;
        opacity: 1;
    }
}

@keyframes hr-h3 {
    from {
        width: 0;
    }

    to {
        width: 30px;
        opacity: 1;
    }
}

@media (max-width: 560px) {
    .About-row {
        grid-template-columns: repeat(1, minmax(160px, 1fr));
    }

    .About-skills-card {
        border: 10px solid white;
        margin: -25px 10px 0 10px;
        grid-gap: 10px;
        padding: 10px;
    }

    .About-skills-intro h1 {
        font-size: 1.6em;
    }

    .About-skills-intro h2 {
        font-size: .9em;
    }
}