.Home {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-welcome {
    font-size: 3em;
}

.Home-welcome u {
    text-decoration-color: #f1c40f;
}

.Home-name {
    font-size: 2em;
    margin-bottom: 16px;
    text-align: center;
}

.Home-intro {
    max-width: 760px;
    font-size: .5em;
    text-align: center;
    line-height: 1.4;
}

@media (max-width: 760px) {
    .Home-name {
        font-size: 1.5em;
    }
}

@media (max-width: 560px) {
    .Home-name {
        font-size: .9em;
    }

    .Home-intro {
        max-width: 270px;
    }
}