.Home {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.Home-welcome {
    font-size: 3em;
}

.Home-welcome u {
    text-decoration-color: #f1c40f;
}

.Home-name {
    font-size: 2em;
    margin-bottom: 16px;
}

.Home-intro {
    max-width: 560px;
    font-size: .7em;
}

@media (max-width: 560px) {
    .Home-name {
        font-size: .9em;
    }

    .Home-intro {
        max-width: 270px;
        font-size: .5em;
    }
}