.App {
    display: grid;
    grid-template-areas: "header""content";
    grid-template-rows: [row1-start] 102px [row1-end row2-start] auto [row2-end];
    position: absolute;
    height: 100%;
    width: 100%;
}

.App-header {
    height: 62px;
    width: 96%;
    padding: 20px;
    display: grid;
    grid-area: header;
    grid-template-columns: auto auto;
    align-items: center;
}

.App-logo {
    height: 62px;
    width: 55px;
    vertical-align: middle;
}

.App-logo {
    height: 62px;
    width: 54.31px;
    background: url(assets/img/logo-black.svg) center center no-repeat;
    background-size: cover;
    padding: 0;
}

.App-logo:hover {
    background: url(assets/img/logo-yellow.svg) center center no-repeat;
    transition: all 400ms ease-in-out;
}

.active-logo {
    background: url(assets/img/logo-yellow.svg) center center no-repeat !important;
}

.App-menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-gap: 40px;
    justify-self: end;
}

.App-menu a {
    display: block;
    font-size: 1.2em;
    margin: auto;
    padding: 10px 0;
    min-width: 100px;
    text-decoration: unset;
    color: rgba(0, 0, 0, .6);
}

.App-menu a:hover {
    color: #f1c40f !important;
    transition: color 400ms ease-in-out;
}

.active-link {
    color: #f1c40f !important;
}

.App-content {
    grid-area: content;
    min-height: 90%;
}

.Appear-animation-appear {
    opacity: 0;
    transform: translateY(-1rem);
}

.Appear-animation-appear.Appear-animation-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 800ms ease-in;
}

@keyframes hr-h3 {
    from {
        width: 0;
    }

    to {
        width: 30px;
        opacity: 1;
    }
}

@media (max-width: 560px) {
    .App-header {
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #dedede;
    }

    .App-menu {
        grid-gap: 10px;
        justify-self: center;
    }

    .App-menu a {
        text-align: right;
        font-size: 1em;
        min-width: 70px;
    }
}