.App {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("./assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.App-header {
    height: 62px;
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.App-logo {
    height: 68%;
    vertical-align: middle;
}

.App-menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-gap: 5%;
    justify-self: end;
}

.App-menu a {
    display: block;
    font-size: 1.2em;
    margin: auto;
    padding: 10px 0;
    min-width: 100px;
    text-decoration: unset;
    color: rgba(255, 255, 255, .6);
}

.active-link {
  color: white !important;
}

.Main-welcome {
    font-size: 8em;
    font-weight: bold;
}